header .header_1 {
  background: var(--primary);
  height: 35px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .header_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  height: 70px;
  padding: 10px;
}

header .header_2 ul {
  display: flex;
  gap: 20px;
}

header .header_2 ul li a {
  display: flex;
  gap: 10px;
  align-items: center;
}

header .header_2 .logo {
  position: relative;
  height: 70px;
  width: 180px;
  overflow: hidden;
}
header .header_2 .logo img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
header .header_2 > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

header .header_2 > div select {
  background: transparent;
  color: var(--white);
  border: none;
}
header .header_2 > div select option {
  color: var(--black);
}
header .header_2 > div a {
  display: flex;
  gap: 8px;
  align-items: center;
}

header .header_3 {
  height: 60px;
  overflow: auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
header .header_3 ul {
  gap: 15px;
  height: 100%;
  align-items: center;
  display: grid;

  padding: 0 10px; /* top-bottom left-right */
  padding: 0 10px 0 10px; /* top right bottom left */

  /* padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px; */
}
header .header_3 ul li {
  text-transform: uppercase;
  grid-row: 1;
  font-size: 16px;
  font-weight: 500;
}
